.navbar-red .nav > li > a {
  border-right: 1px solid #ef413d;
  padding: 10px 11px;
}
.navbar-red .nav > li:last-child > a {
  border-right: 0;
}
.navbar-red .nav > li > a:hover,
.navbar-red .nav > li > a:focus {
  text-decoration: none;
  background-color: #ef413d;
}
#bottom-bar .dropdown-menu {
  background-color: #ef413d;
  border: 1px solid #ef413d;
}
#header .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  color: #fff;
  white-space: nowrap;
}
#bottom-bar .dropdown-menu > li > a:hover,
#bottom-bar .dropdown-menu > li > a:focus {
  text-decoration: none;
  background-color: #f48473;
  color: #ffffff;
}
#bottom-bar .dropdown-menu .divider {
  background-color: #f48473;
}
.login-trigger .dropdown-menu {
  border: 1px solid #ccc;
  background-color: #fff;
}
.navbar-top .nav > li > a {
  padding: 5px 10px;
  font-size: 11px;
  font-weight: bold;
}
.navbar-top .lang > li > a {
  font-weight: normal;
}
#top-bar .login-trigger .btn-group > .btn-default {
  margin-top: 5px;
}
