# Ingnoring Directories #
###################

#      Others      #
####################
#OS junk files
[Tt]humbs.db
*.DS_Store

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

# AksiIDE Project File
*.aprj

